@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head meta charset="utf-8"></head>

    <div class="container">
        <div class="row top-buffer">
            <div class="col-md-8 col-md-offset-2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/@ViewData["videoId"]" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

<br />

<div class="row">
    <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=false>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <h2>Текст песни</h2>
                                @Html.Raw(@ViewData["songText"])
                            </div>
                            <div class="col-md-5">
                                <h2>Перевод песни</h2>
                                @Html.Raw(@ViewData["songTranslate"])
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h2>Аппликатуры аккордов</h2>
                                @Html.Raw(@ViewData["chordsImages"])
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h2>Аккорды песни</h2>
                                <pre>@Html.Raw(@ViewData["chordsText"])</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <br/>
                            @if (@ViewData["itunesLink"] != String.Empty)
                            {
                            <p><img height="32" width="32" src="http://vignette2.wikia.nocookie.net/logopedia/images/6/6c/ITunes12.png" alt="iTunes"/> 
                            <a href="@ViewData["itunesLink"]"> Купить на iTunes</a>
                            </p>
                            }
                            @if (@ViewData["lastfmLink"] != String.Empty)
                            {
                            <p>
                                <img height="32" width="32" src="http://cdn.last.fm/flatness/apple-touch-icon.png" alt="iTunes" />
                                <a href="@ViewData["lastfmLink"]"> Подробнее о песне на last.fm</a>
                            </p>
                            }
                            <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
   